<div id="fh5co-started" class="fh5co-bg" style="background-image:url(/DucPhuong/img/MIN_9225.JPG);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2 class="font-secondary">Quý khách sẽ đến chứ?</h2>
				<p style="color: white;">Xin Quý Khách vui lòng điền vào form và xác nhận tham dự tại đây để Gia đình
					chúng mình tiếp đón được chu đáo!</p>
			</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-10 col-md-offset-1">
				<form class="form-inline">
					<div class="col-md-4 col-sm-4">
						<div class="form-group">
							<label for="name" class="sr-only">Họ tên quý khách</label>
							<input type="name" class="form-control" id="name" placeholder="Họ tên">
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="form-group">
							<label for="name" class="sr-only">Số điện thoại quý khách</label>
							<input type="name" class="form-control" id="phone" placeholder="Số điện thoại">
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<button type="submit" onclick="join(event)" class="btn btn-default btn-block">Tôi tham
							dự</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>