<div id="fh5co-services" class="fh5co-section-gray">
    <div class="container">

        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2 class="font-secondary">Bản đồ chỉ đường tới sự kiện</h2>
                <p>Chúng mình rất muốn được chụp chung với bạn những tấm hình kỷ niệm vì vậy hãy đến sớm hơn một chút
                    bạn yêu nhé!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 animate-box">
                <div class=" " id="map-google">
                    <h2 class="mb-3 text-center gender ">TIỆC VU QUY</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3722.472228168902!2d106.02641507525837!3d21.093731380571924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjHCsDA1JzM3LjQiTiAxMDbCsDAxJzQ0LjQiRQ!5e0!3m2!1svi!2s!4v1711350189861!5m2!1svi!2s"
                        height="450" id="map-nhagai" class="w-100" style="border:0; width: 100%;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-6 animate-box">
                <div class=" " id="map-google">
                    <h2 class="mb-3 text-center gender ">LỄ VU QUY</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3722.472228168902!2d106.02641507525837!3d21.093731380571924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjHCsDA1JzM3LjQiTiAxMDbCsDAxJzQ0LjQiRQ!5e0!3m2!1svi!2s!4v1711350189861!5m2!1svi!2s"
                        height="450" id="map-nhagai" class="w-100" style="border:0; width: 100%;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>