<div id="fh5co-services" class="fh5co-section-gray">
    <div class="container">

        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2 class="font-secondary">Bản đồ chỉ đường tới sự kiện</h2>
                <p>Chúng mình rất muốn được chụp chung với bạn những tấm hình kỷ niệm vì vậy hãy đến sớm hơn một chút
                    bạn yêu nhé!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 animate-box">
                <div class=" " id="map-google">
                    <h2 class="mb-3 text-center gender ">TIỆC THÀNH HÔN</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7444.882843506401!2d106.01780898827144!3d21.0949605821685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313509d1ff4023f1%3A0xf5b2f401614d2a15!2zdGjDtG4gUGjhuq10IFTDrWNoLCBUacOqbiBEdSBEaXN0cmljdCwgQmFjIE5pbmggUHJvdmluY2UsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1711295413069!5m2!1sen!2s"
                        height="450" id="map-nhagai" class="w-100" style="border:0; width: 100%;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-6 animate-box">
                <div class=" " id="map-google">
                    <h2 class="mb-3 text-center gender ">LỄ THÀNH HÔN</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7444.882843506401!2d106.01780898827144!3d21.0949605821685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313509d1ff4023f1%3A0xf5b2f401614d2a15!2zdGjDtG4gUGjhuq10IFTDrWNoLCBUacOqbiBEdSBEaXN0cmljdCwgQmFjIE5pbmggUHJvdmluY2UsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1711295413069!5m2!1sen!2s"
                        height="450" id="map-nhagai" class="w-100" style="border:0; width: 100%;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>