<div id="fh5co-qr" class="fh5co-section-gray" style="padding: 7em 0;">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2 class="font-secondary">Gửi lời chúc tới cô dâu & chú rể</h2>
                <p>Sự hiện diện của bạn là niềm vinh hạnh của chúng tôi!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animate-box">
                <div style="text-align: center;">
                    <img width="400px" height="490px" src="/QuyLinh/img/qr.png"></img>
                </div>
            </div>
            <div class="col-md-6 animate-box">
                <!-- <div class="fh5co-video fh5co-bg"
                    style="background-image: url(/HoangHuyenWedding/images/img/story-2.jpg); ">
                    <a href="https://www.youtube.com/watch?v=IOe0tNoUGv8" class="popup-vimeo"><i class="icon-video2"></i></a>
                    <div class="overlay"></div>
                </div> -->
                <div style="text-align: center;">
                    <img width="400px" src="/QuyLinh/img/qr.png"></img>
                </div>
            </div>
        </div>
    </div>
</div>