<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dung & Long</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

<meta property="og:image" content="https://nguyenha-it.tech/img/DungLong/2.jpg" />

    <meta content="Happy Wedding" name="keywords">
    <meta content="Happy Ending" name="description">

    <!-- Favicon -->
    <link href="/DungLongWedding/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;600&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


    <!-- Libraries Stylesheet -->
    <link href="/DungLongWedding/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/DungLongWedding/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/DungLongWedding/css/style.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="51">
    <!-- Navbar Start -->
    <nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="font-secondary text-white mb-n2">Dung <span class="text-primary">&</span> Long</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto py-0">
                <a href="#home" class="nav-item nav-link active">Home</a>
                <a href="#about" class="nav-item nav-link">About</a>

            </div>
            <a href="index.html" class="navbar-brand mx-5 d-none d-lg-block">
                <h1 class="font-secondary text-white mb-n2">Dung <span class="text-primary">&</span> Long</h1>
            </a>
            <div class="navbar-nav mr-auto py-0">
                <!-- <a href="#story" class="nav-item nav-link">Story</a> -->

                <a href="#event" class="nav-item nav-link">Event</a>

                <a href="#rsvp" class="nav-item nav-link">Maps</a>
                <a href="#gallery" class="nav-item nav-link">Gallery</a>


            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 pb-5" id="home">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item position-relative active" style="height: 100vh; min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="/DungLongWedding/img/DungLong/3.jpg" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h1 class="display-1 font-secondary text-white mt-n3 mb-md-4">Dung & Long</h1>
                            <div class="d-inline-block border-top border-bottom border-light py-3 px-4">
                                <h3 class="text-uppercase font-weight-normal text-white m-0" style="letter-spacing: 2px;">We're getting married</h3>
                            </div>
                          <!--   <button type="button" class="btn-play mx-auto" data-toggle="modal"
                                data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                                <span></span>
                            </button> -->
                        </div>
                    </div>
                </div>
                <div class="carousel-item position-relative" style="height: 100vh; min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="/DungLongWedding/img/DungLong/7.jpg" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h1 class="display-1 font-secondary text-white mt-n3 mb-md-4">Dung & Long</h1>
                            <div class="d-inline-block border-top border-bottom border-light py-3 px-4">
                                <h3 class="text-uppercase font-weight-normal text-white m-0" style="letter-spacing: 2px;">We're getting married</h3>
                            </div>

                        </div>
                    </div>
                </div>
               <!--  <div class="carousel-item position-relative" style="height: 100vh; min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="img/gallery.jpg" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h1 class="display-1 font-secondary text-white mt-n3 mb-md-4">Hoàng & Huyền</h1>
                            <div class="d-inline-block border-top border-bottom border-light py-3 px-4">
                                <h3 class="text-uppercase font-weight-normal text-white m-0" style="letter-spacing: 2px;">We're getting married</h3>
                            </div>
                       
                        </div>
                    </div>
                </div> -->
            </div>
           <!--  <a class="carousel-control-prev justify-content-start" href="#header-carousel" data-slide="prev">
                <div class="btn btn-primary px-0" style="width: 68px; height: 68px;">
                    <span class="carousel-control-prev-icon mt-3"></span>
                </div>
            </a>
            <a class="carousel-control-next justify-content-end" href="#header-carousel" data-slide="next">
                <div class="btn btn-primary px-0" style="width: 68px; height: 68px;">
                    <span class="carousel-control-next-icon mt-3"></span>
                </div>
            </a> -->
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Video Modal Start -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>        
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->


    <!-- About Start -->
    <div class="container-fluid py-5" id="about">
        <div class="container py-5">
            <div class="section-title position-relative text-center">
                <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">About</h6>
                <h1 class="font-secondary display-4">Groom & Bride</h1>
                <i class="far fa-heart text-dark"></i>
            </div>
            <div class="row m-0 mb-4 mb-md-0 pb-2 pb-md-0" >
                <div class="col-md-6 p-0 text-center text-md-right" data-aos="fade-up">
                    <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-5">
                        <h3 class="mb-3">The Groom</h3>
                        <h3 class="font-secondary font-weight-normal text-muted mb-3"><i class="fa fa-male text-primary pr-3"></i>Danh Long</h3>
                        <!-- <p>Sinh: 1998</p> -->
                        <p>Bố: Nguyễn Danh Nội</p>
                        <p>Mẹ: Nguyễn Thị Hảo</p>
                        <div class="position-relative">
                            <!-- <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-twitter"></i></a> -->
                            <a class="btn btn-outline-primary btn-square mr-1" href="https://www.facebook.com/long.pis"><i class="fab fa-facebook-f"></i></a>
                            <!-- <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-linkedin-in"></i></a> -->
                            <!-- <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="/DungLongWedding/img/DungLong/3.jpg" style="object-fit: cover; object-position: top;">
                </div>
            </div>
            <div class="row m-0">
                <div class="col-md-6 p-0" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="/DungLongWedding/img/DungLong/7.jpg" style="object-fit: cover; object-position: top;">
                </div>
                <div class="col-md-6 p-0 text-center text-md-left" data-aos="fade-up">
                    <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-5">
                        <h3 class="mb-3">The Bride</h3>
                        <h3 class="font-secondary font-weight-normal text-muted mb-3"><i class="fa fa-female text-primary pr-3"></i>Phương Dung</h3>
                        <!-- <p>Sinh: 1998</p> -->
                        <p>Bố: An Mai Thanh</p>
                        <p>Mẹ: Nguyễn Thị Bình</p>
                        <div class="position-relative">
                            <!-- <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-instagram"></i></a> -->
                            <a class="btn btn-outline-primary btn-square mr-1" href="https://www.facebook.com/phuong.dung.549668"><i class="fab fa-facebook-f"></i></a>
                            <!-- <a class="btn btn-outline-primary btn-square mr-1" href="#"><i class="fab fa-linkedin-in"></i></a> -->
                            <!-- <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

        <!-- Event Start -->
    <div class="container-fluid py-5" id="event">
        <div class="container py-5">
            <div class="section-title position-relative text-center" data-aos="fade-down">
                <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Event</h6>
                <h1 class="font-secondary display-4">Our Wedding Event</h1>
                <i class="far fa-heart text-dark"></i>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h5 class="font-weight-normal text-muted mb-3 pb-3" style="color: black" data-aos="fade-down">Trân trọng kính mời quý vị đến dự bữa cơm thân mật và chung vui cùng gia đình chúng tôi tại</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 " data-aos="fade-up">
                    <div class="text-center  mb-4 mb-md-0">
                        <h4 class="mb-3 gender">Nhà gái</h4>
                        <h5 class="mb-2" id="address">593 Ngô Gia Tự - Phường Ninh Xá - Thành Phố Bắc Ninh</h5>
                        <!-- <img class="img-fluid mb-4" src="img/hv.jpg" alt=""> -->

                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-12 text-center" data-aos="fade-up">
                     <h5 class="font-weight-normal text-muted pt-3"  id="time">Vào hồi 10 giờ, Chủ nhật</h5>
                     <h5 class="font-weight-normal text-muted "  id="date">Ngày 1 tháng 1 năm 2023</h5>
                 </div>
            </div>


            <div class="row">

          
                

                 <div class="col-12 text-center" data-aos="fade-up">
                     <h4 class="font-weight-normal text-muted mt-3 pt-3" style="color: black" data-aos="fade-down">Hôn lễ được tổ chức tại tư gia</h4>
                     <h5 class="font-weight-normal text-muted"  id="time">Vào hồi 13 giờ, Chủ nhật</h5>
                     <h5 class="font-weight-normal text-muted "  id="date">Ngày 1 tháng 1 năm 2023</h5>
                 </div>
            </div>

 

        </div>
    </div>
    <!-- Event End -->


    <!-- Story Start -->
   <!--  <div class="container-fluid py-5" id="story">
        <div class="container pt-5 pb-3">
            <div class="section-title position-relative text-center">
                <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Story</h6>
                <h1 class="font-secondary display-4">Our Love Story</h1>
                <i class="far fa-heart text-dark"></i>
            </div>
            <div class="container timeline position-relative p-0">
                
                  <div class="row">
                    <div class="col-md-6 text-center text-md-right" data-aos="fade-up-right">
                            <img class="img-fluid  mr-md-3" src="img/story-7.jpg" alt="" style="margin-left: -15px !important;">
                    </div>
                    <div class="col-md-6 text-center text-md-left" data-aos="fade-up-left">
                            <img class="img-fluid  ml-md-3" src="img/story-8.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center text-md-right">
                            <img class="img-fluid  mr-md-3" src="img/story-9.jpg" alt="">
                    </div>
                    <div class="col-md-6 text-center text-md-left">
                            <img class="img-fluid  ml-md-3" src="img/story-10.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center text-md-right" data-aos="fade-up-right">
                        <img class="img-fluid  mr-md-3" src="img/story-1.jpg" alt="">
                    </div>
                    <div class="col-md-6 text-center text-md-left" data-aos="fade-up-left">
                        <img class="img-fluid  ml-md-3" src="img/story-5.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center text-md-right"data-aos="fade-up-right">
                        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4 mr-md-3">
                        <img class="img-fluid  mr-md-3" src="img/story-6.jpg" alt="">

                        </div>
                    </div>
                    <div class="col-md-6 text-center text-md-left" data-aos="fade-up-left">
                        <img class="img-fluid  ml-md-3" src="img/story-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Story End -->

    <!-- RSVP Start -->
    <div class="container-fluid pb-5" id="rsvp">
        <div class="container py-5">
            <div class="section-title position-relative text-center">
                <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">RSVP</h6>
                <h1 class="font-secondary display-4">Join Our Party</h1>
                <i class="far fa-heart text-dark"></i>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 ">
                    <div class="  " id="map-google">
                        <h4 class="mb-3 text-center gender">Nhà gái</h4>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1860.1548538522657!2d106.06050400058356!3d21.179852385875957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31350ea99fe54489%3A0x250a8e9885e307cc!2zNTkzIMSQLiBOZy4gR2lhIFThu7EsIFAuVGnhu4FuIEFuLCBC4bqvYyBOaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1671639063410!5m2!1svi!2s"  height="450" id="map-nhagai" class="w-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- RSVP End -->
        <!-- Gallery Start -->
    <div class="container-fluid bg-gallery" id="gallery" style="padding: 120px 0; margin: 90px 0;">
        <div class="section-title position-relative text-center" style="margin-bottom: 120px;">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Gallery</h6>
            <h1 class="font-secondary display-4 text-white">Our Photo Gallery</h1>
            <i class="far fa-heart text-white"></i>
        </div>
        <div class="owl-carousel gallery-carousel">
            <div class="gallery-item">
                <img class="img-fluid w-100" src="/DungLongWedding/img/DungLong/1.jpg" alt="">
                <a href="/DungLongWedding/img/DungLong/1.jpg" data-lightbox="gallery">
                    <i class="fa fa-2x fa-plus text-white"></i>
                </a>
            </div>
            <div class="gallery-item">
                <img class="img-fluid w-100" src="/DungLongWedding/img/DungLong/2.jpg" alt="">
                <a href="/DungLongWedding/img/DungLong/2.jpg" data-lightbox="gallery">
                    <i class="fa fa-2x fa-plus text-white"></i>
                </a>
            </div>
            <div class="gallery-item">
                <img class="img-fluid w-100" src="/DungLongWedding/img/DungLong/4.jpg" alt="">
                <a href="/DungLongWedding/img/DungLong/4.jpg" data-lightbox="gallery">
                    <i class="fa fa-2x fa-plus text-white"></i>
                </a>
            </div>
            <div class="gallery-item">
                <img class="img-fluid w-100" src="/DungLongWedding/img/DungLong/5.jpg" alt="">
                <a href="/DungLongWedding/img/DungLong/5.jpg" data-lightbox="gallery">
                    <i class="fa fa-2x fa-plus text-white"></i>
                </a>
            </div>
            <div class="gallery-item">
                <img class="img-fluid w-100" src="/DungLongWedding/img/DungLong/6.jpg" alt="">
                <a href="/DungLongWedding/img/DungLong/6.jpg" data-lightbox="gallery">
                    <i class="fa fa-2x fa-plus text-white"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Gallery End -->


    <!-- Footer Start -->
    <%- include('layout/footer.html') %>
    <!-- Footer End -->

    <!-- Scroll to Bottom -->
    <i class="fa fa-2x fa-angle-down text-white scroll-to-bottom"></i>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-outline-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/DungLongWedding/lib/easing/easing.min.js"></script>
    <script src="/DungLongWedding/lib/waypoints/waypoints.min.js"></script>
    <script src="/DungLongWedding/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/DungLongWedding/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/DungLongWedding/lib/lightbox/js/lightbox.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Template Javascript -->
    <script src="/DungLongWedding/js/main.js"></script>
    <script>
        AOS.init();
          var data = [{
                    gender: 'Nhà gái',
                    address: '593 Ngô Gia Tự - Phường Ninh Xá - Thành Phố Bắc Ninh',
                    time: 'Vào hồi 10 giờ, Chủ nhật',
                    date: ' Ngày 1 tháng 1 năm 2023 ',
                    map: '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1860.1548538522657!2d106.06050400058356!3d21.179852385875957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31350ea99fe54489%3A0x250a8e9885e307cc!2zNTkzIMSQLiBOZy4gR2lhIFThu7EsIFAuVGnhu4FuIEFuLCBC4bqvYyBOaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1671639063410!5m2!1svi!2s"  height="450"  class="w-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>',
                    // bank: '/img/ThuHoang/bank_groom.jpg'
                },
                {
                    gender: 'Nhà trai',
                    address: 'Xóm Phúc Hậu - Thôn Lũng Sơn - Thị Trấn Lim - Huyện Tiên Du - Tỉnh Bắc Ninh',
                    time: 'Vào hồi 10 giờ, Chủ nhật',
                    date: ' Ngày 1 tháng 1 năm 2023 ',
                    // bank: '/img/ThuHoang/bank_bride.jpg',
                    map: '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d930.3000271356965!2d106.02441328097457!3d21.144433272780645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313509a2bc444a97%3A0xb60826791c741398!2zUGjDumMgaOG6rXUsdGjhu4sgdHLhuqVuIGxpbSx0acOqbiBkdSxi4bqvYyBuaW5o!5e0!3m2!1svi!2s!4v1671723085978!5m2!1svi!2s" width="600" height="450" class="w-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>'

                }
            ]
            const urlParams = new URLSearchParams(window.location.search);
            const myParam = urlParams.get('id');
            if (myParam.toLocaleLowerCase() == 'nhatrai') {
                setData(data[1])
                $('#map-nhagai').css('display','none')
            } else{
                setData(data[0])
                // console.log(urlParams)
            }

             function setData(data) {
                var gender = document.getElementsByClassName('gender')
                var address = document.getElementById('address')
                var time = document.getElementById('time')
                var date = document.getElementById('date')
                var map = document.getElementById('map-google')
                var bank = document.getElementById('bank')
                gender[0].innerText = data.gender
                gender[1].innerText = data.gender
                address.innerText = data.address
                time.innerText = data.time
                date.innerText = data.date
                map.innerHTML += data.map
                // bank.setAttribute('src', data.bank)
            }
    </script>
</body>

</html>
