<div id="fh5co-gallery" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center fh5co-heading animate-box">
                <h2 class="font-secondary">Trân Trọng Kính Mời!</h2>
                <p>Quý Anh/Chị<br>Tới tham dự Lễ Thành Hôn của hai con chúng tôi</p>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-12 bg-gallery" id="gallery">
                <ul id="fh5co-gallery-list">
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/QuyLinh/img/IMG_6399.jpg); ">
                        <a href="/QuyLinh/img/IMG_6399.jpg" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/QuyLinh/img/IMG_6402.JPG); ">
                        <a href="/QuyLinh/img/IMG_6402.JPG" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/QuyLinh/img/IMG_6403.JPG); ">
                        <a href="/QuyLinh/img/IMG_6403.JPG" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/QuyLinh/img/IMG_6405.JPG); ">
                        <a href="/QuyLinh/img/IMG_6405.JPG" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/QuyLinh/img/IMG_6406.jpg); ">
                        <a href="/QuyLinh/img/IMG_6406.jpg" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/QuyLinh/img/IMG_6418.jpg); ">
                        <a href="/QuyLinh/img/IMG_6418.jpg" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/QuyLinh/img/IMG_6419.JPG); ">
                        <a href="/QuyLinh/img/IMG_6419.JPG" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/QuyLinh/img/IMG_6420.jpg); ">
                        <a href="/QuyLinh/img/IMG_6420.jpg" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/QuyLinh/img/IMG_6436.jpg); ">
                        <a href="/QuyLinh/img/IMG_6436.jpg" data-lightbox="gallery">
                        </a>
                    </li>
                    <!-- <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/QuyLinh/img/IMG_6421.JPG); ">
                        <a href="/QuyLinh/img/IMG_6421.JPG" data-lightbox="gallery">
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>