<div id="fh5co-event" class="fh5co-bg"
			style="background-image:url(/QuyLinh/img/family.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
						<!-- <span>Sự kiện đặc biệt của chúng tôi</span> -->
						<h2 class="font-secondary">Sự kiện</h2>
					</div>
				</div>
				<div class="row">
					<div class="display-t">
						<div class="display-tc">
							<div class="col-md-10 col-md-offset-1" style="display: flex; justify-content: center;">
								<div class="col-md-4 col-sm-4 text-center">
									<div class="event-wrap animate-box">
										<h3>LỄ THÀNH HÔN</h3>
										<div class="event-col">
											<i class="icon-clock"></i>
											<span style="color: #fff;">16:30</span>
											<!-- <span style="color: #fff;">12:00 AM</span> -->
										</div>
										<div class="event-col">
											<i class="icon-calendar"></i>
											<span style="color: #fff;">23/03/2024</span>
											<!-- <span style="color: #fff;">November, 2016</span> -->
										</div>
										<p style="color: #fff;">Địa chỉ: NHÀ HÀNG SAN SAN, Đường Lê Thái Tổ, Võ Cường, Bắc Ninh
										</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 text-center">
									<div class="event-wrap animate-box">
										<h3>LỄ VU QUY</h3>
										<div class="event-col">
											<i class="icon-clock"></i>
											<span style="color: #fff;">07:00</span>
											<!-- <span style="color: #fff;">6:00 PM</span> -->
										</div>
										<div class="event-col">
											<i class="icon-calendar"></i>
											<span style="color: #fff;">24/03/2024</span>
										</div>
										<p style="color: #fff;">Địa chỉ: TƯ GIA NHÀ GÁI, 39 Nguyễn Văn Cừ, Ninh xá, TP Bắc Ninh
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>