<div id="fh5co-services" class="fh5co-section-gray">
    <div class="container">

        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2 class="font-secondary">Bản đồ chỉ đường tới sự kiện</h2>
                <p>Mình rất muốn được chụp chung với bạn những tấm hình kỷ niệm vì vậy hãy đến sớm hơn một chút
                    bạn yêu nhé!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 animate-box">
                <div class=" " id="map-google">
                    <h2 class="mb-3 text-center gender ">LỄ THÀNH HÔN</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.6438685669204!2d106.04973467597232!3d21.16656648302991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135094e228b4e2d%3A0x4ea28acd06e05f2!2zTmjDoCBow6BuZyBTYW4gU2Fu!5e0!3m2!1svi!2s!4v1709180009802!5m2!1svi!2s"
                        height="450" id="map-nhagai" class="w-100" style="border:0; width: 100%;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-6 animate-box">
                <div class=" " id="map-google">
                    <h2 class="mb-3 text-center gender ">LỄ VU QUY</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.413250377967!2d106.05381837597236!3d21.175736482712825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31350eacf4388445%3A0x44d118171c8b268f!2zMzkgTmd1eeG7hW4gVsSDbiBD4burLCBQLk5pbmggWMOhLCBC4bqvYyBOaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1709180042123!5m2!1svi!2s"
                        height="450" id="map-nhagai" class="w-100" style="border:0; width: 100%;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>