<div id="fh5co-gallery" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center fh5co-heading animate-box">
                <h2 class="font-secondary">Trân Trọng Kính Mời!</h2>
                <p>Quý Anh/Chị<br>Tới tham dự Lễ Thành Hôn của hai con chúng tôi</p>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-12 bg-gallery" id="gallery">
                <ul id="fh5co-gallery-list">
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/DucPhuong/img/MIN_8678.jpg); ">
                        <a href="/DucPhuong/img/MIN_8678.jpg" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/DucPhuong/img/MIN_8762.jpg); ">
                        <a href="/DucPhuong/img/MIN_8762.jpg" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/DucPhuong/img/MIN_8811.JPG); ">
                        <a href="/DucPhuong/img/MIN_8811.JPG" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/DucPhuong/img/MIN_9225.JPG); ">
                        <a href="/DucPhuong/img/MIN_9225.JPG" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/DucPhuong/img/MIN_9310.JPG); ">
                        <a href="/DucPhuong/img/MIN_9310.JPG" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/DucPhuong/img/MIN_9337.JPG); ">
                        <a href="/DucPhuong/img/MIN_9337.JPG" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/DucPhuong/img/MIN_9378.JPG); ">
                        <a href="/DucPhuong/img/MIN_9378.JPG" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/DucPhuong/img/MIN_8889.JPG); ">
                        <a href="/DucPhuong/img/MIN_8889.JPG" data-lightbox="gallery">
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/DucPhuong/img/MIN_8708.jpg); ">
                        <a href="/DucPhuong/img/MIN_8708.jpg" data-lightbox="gallery">
                        </a>
                    </li>
                    <!-- <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/DucPhuong/img/IMG_6421.JPG); ">
                        <a href="/DucPhuong/img/IMG_6421.JPG" data-lightbox="gallery">
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>