<header id="fh5co-header" class="fh5co-cover" role="banner"
    style="background-image:url(/DucPhuong/img/MIN_8678.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1 class="font-secondary">Tiến Đức &amp; Hải Phương</h1>
                        <!-- <h1 class="font-secondary" style="line-height: 1 !important;"></h1>
                        <h1 class="font-secondary"></h1> -->
                        <!-- <h2>Đếm ngược thời gian cùng chúng tôi!</h2> -->
                        <!-- <div class="simply-countdown simply-countdown-one"></div> -->
                        <!-- <p><a href="#" class="btn btn-default btn-sm">Save the date</a></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
