<div id="fh5co-started" class="fh5co-bg" style="background-image:url(/QuyLinh/img/IMG_6435.JPG);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2 class="font-secondary">Bạn sẽ đến chứ?</h2>
				<p style="color: white;">Tiệc cưới là sự chuẩn bị và tâm huyết của chúng mình, Rất mong có sự có mặt của
					bạn để tiệc
					cưới chúng mình thêm trọn vẹn và ý nghĩa hơn …</p>
			</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-10 col-md-offset-1">
				<form class="form-inline">
					<div class="col-md-4 col-sm-4">
						<div class="form-group">
							<label for="name" class="sr-only">Họ tên</label>
							<input type="name" class="form-control" id="name" placeholder="Họ tên">
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="form-group">
							<label for="name" class="sr-only">Số điện thoại</label>
							<input type="name" class="form-control" id="phone" placeholder="Số điện thoại">
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<button type="submit" onclick="join(event)" class="btn btn-default btn-block">Tôi tham
							dự</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>