<div id="fh5co-services" class="fh5co-section-gray">
    <div class="container">

        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2 class="font-secondary">Bản đồ chỉ đường tới sự kiện</h2>
                <p>Mình rất muốn được chụp chung với bạn những tấm hình kỷ niệm vì vậy hãy đến sớm hơn một chút
                    bạn yêu nhé!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 animate-box">
                <div class=" " id="map-google">
                    <h2 class="mb-3 text-center gender ">LỄ THÀNH HÔN</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722.9140571205467!2d105.7961792626582!3d21.076094510488403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aac688e12257%3A0xa9ecd7fd2579f23f!2zVDcsIFh1w6JuIMSQ4buJbmgsIFThu6sgTGnDqm0sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1709545607013!5m2!1svi!2s"
                        height="450" id="map-nhagai" class="w-100" style="border:0; width: 100%;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>Ư
            <div class="col-md-6 animate-box">
                <div class=" " id="map-google">
                    <h2 class="mb-3 text-center gender ">TIỆC THÀNH HÔN</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232.68334294311512!2d105.81581807134646!3d21.075318584155657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aaede963b7e7%3A0x3945a8dcf037f761!2zVHJ1bmcgdMOibSBI4buZaSBuZ2jhu4sgVGnhu4djIGPGsOG7m2kgRm9yZXZlcm1hcms!5e0!3m2!1svi!2s!4v1709545493440!5m2!1svi!2s"
                        height="450" id="map-nhagai" class="w-100" style="border:0; width: 100%;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>