<div id="fh5co-started" class="fh5co-bg" style="padding-top: 0px;">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2 class="font-secondary" style="color: #F14E95 !important;">Video cưới của chúng mình</h2>
            </div>
        </div>
        <div class="row animate-box">
            <div class="fh5co-video fh5co-bg"
                style="background-image: url(/HoangHuyenWedding/images/img/carousel_2_copy.jpg); ">
                <a href="https://www.youtube.com/watch?v=IOe0tNoUGv8" class="popup-vimeo"><i class="icon-video2"></i></a>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
</div>