<div id="fh5co-gallery" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>Kỷ niệm của chúng tôi</span>
                <h2 class="font-secondary">Khoảnh khắc ngọt ngào</h2>
                <p>Giờ đây, khi mà niềm tin đã trọn vẹn, khi tình yêu của chúng tôi dành cho nhau cũng đủ lớn,
                    ngày hôm nay là ngày chúng tôi quyết định tiến thêm một bước lớn hơn nữa của tình yêu.</p>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-12 bg-gallery" id="gallery">
                <ul id="fh5co-gallery-list">
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/HoangHuyenWedding/images/img/story-2.jpg); ">
                        <a href="/HoangHuyenWedding/images/img/story-2.jpg" data-lightbox="gallery">
                            <!-- <div class="case-studies-summary">
                                <span>14 Photos</span>
                                <h2>Two Glas of Juice</h2>
                            </div> -->
                            <!-- <i class="fa fa-2x fa-plus text-white"></i> -->
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/HoangHuyenWedding/images/img/hu2.jpg); ">
                        <a href="/HoangHuyenWedding/images/img/hu.jpg" class="color-2" data-lightbox="gallery">
                            <!-- <div class="case-studies-summary">
                                <span>30 Photos</span>
                                <h2>Timer starts now!</h2>
                            </div> -->
                        </a>
                    </li>


                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/HoangHuyenWedding/images/img/story-5.jpg); ">
                        <a href="/HoangHuyenWedding/images/img/story-5.jpg" class="color-3" data-lightbox="gallery">
                            <!-- <div class="case-studies-summary">
                                <span>90 Photos</span>
                                <h2>Beautiful sunset</h2>
                            </div> -->
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/HoangHuyenWedding/images/img/story-7.jpg); ">
                        <a href="/HoangHuyenWedding/images/img/story-7.jpg" class="color-4" data-lightbox="gallery">
                            <!-- <div class="case-studies-summary">
                                <span>12 Photos</span>
                                <h2>Company's Conference Room</h2>
                            </div> -->
                        </a>
                    </li>

                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/HoangHuyenWedding/images/img/story-10.jpg); ">
                        <a href="/HoangHuyenWedding/images/img/story-10.jpg" class="color-3" data-lightbox="gallery">
                            <!-- <div class="case-studies-summary">
                                <span>50 Photos</span>
                                <h2>Useful baskets</h2>
                            </div> -->
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/HoangHuyenWedding/images/img/story-9.jpg); ">
                        <a href="/HoangHuyenWedding/images/img/story-9.jpg" class="color-4" data-lightbox="gallery">
                            <!-- <div class="case-studies-summary">
                                <span>45 Photos</span>
                                <h2>Skater man in the road</h2>
                            </div> -->
                        </a>
                    </li>

                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/HoangHuyenWedding/images/img/hv2.jpg); ">
                        <a href="/HoangHuyenWedding/images/img/hv.jpg" class="color-4" data-lightbox="gallery">
                            <!-- <div class="case-studies-summary">
                                <span>35 Photos</span>
                                <h2>Two Glas of Juice</h2>
                            </div> -->
                        </a>
                    </li>

                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/HoangHuyenWedding/images/img/carousel-2.jpg); ">
                        <a href="/HoangHuyenWedding/images/img/carousel-2.jpg" class="color-5" data-lightbox="gallery">
                            <!-- <div class="case-studies-summary">
                                <span>90 Photos</span>
                                <h2>Timer starts now!</h2>
                            </div> -->
                        </a>
                    </li>
                    <li class="one-third animate-box gallery-item" data-animate-effect="fadeIn"
                        style="background-image: url(/HoangHuyenWedding/images/img/story-4.jpg); ">
                        <a href="/HoangHuyenWedding/images/img/story-4.jpg" class="color-6" data-lightbox="gallery">
                            <!-- <div class="case-studies-summary">
                                <span>56 Photos</span>
                                <h2>Beautiful sunset</h2>
                            </div> -->
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>