<div id="fh5co-testimonial">
    <div class="container">
        <div class="row">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <span>Lời chúc cho chúng mình</span>
                    <h2 class="font-secondary">Lời chúc từ những người bạn</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 animate-box">
                    <div class="wrap-testimony">
                        <div class="owl-carousel-fullwidth">
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="/HoangHuyenWedding/images/img/hu2.jpg" alt="user">
                                    </figure>
                                    <span>Thanh Huyền, qua <a href="#" class="twitter">Facebook</a></span>
                                    <blockquote>
                                        <p>"Chúc hai bạn luôn ngọt ngào và hạnh phúc bên nhau trong tình yêu
                                            tuyệt đẹp này. Hãy cùng nhau bước tiếp cuộc trình này tới cuối đời
                                            nhé."</p>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="/HoangHuyenWedding/images/img/hv2.jpg" alt="user">
                                    </figure>
                                    <span>Huy Hoàng, qua <a href="#" class="twitter">Instagram</a></span>
                                    <blockquote>
                                        <p>"Thật là tuyệt vời, cuối cùng thì mày đã tìm được bến đỗ của cuộc
                                            đời. Mãi hạnh phúc và hạnh phúc nhé."</p>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="/HoangHuyenWedding/images/img/hu2.jpg" alt="user">
                                    </figure>
                                    <span>Thanh Huyền, qua <a href="#" class="twitter">Facebook</a></span>
                                    <blockquote>
                                        <p>"Chúc mừng bạn tôi thoát khỏi kiếp FA. Sau bao năm tìm kiếm thì bạn
                                            tôi cũng đã có một chốn để về, một bờ vai để tựa. Hãy tận hưởng cuộc
                                            sống hạnh phúc nhé!"</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>