<div id="fh5co-couple">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2 class="font-secondary">Xin chào!</h2>
                <h3>Ngày 28, tháng 4, năm 2023 tại Thành phố Bắc Ninh</h3>
                <p>Trân trọng kính mời</p>
                <p>Bạn và gia đình tham dự đám cưới của chúng tôi</p>
            </div>
        </div>
        <div class="couple-wrap animate-box">
            <div class="couple-half">
                <div class="groom">
                    <img src="/HoangHuyenWedding/images/img/hv2.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-groom">
                    <h3 class="font-secondary">Huy Hoàng</h3>
                    <p>“Tôi hạnh phúc khi ở bên cô ấy.” Thật sự mà nói chúng tôi đã trải qua nhiều biến cố trong
                        chuyện tình cảm. Quyết định đến với nhau là kết quả cả cả hai chúng tôi đã phấn đấu vì
                        nhau , thay đổi và bổ trợ cho nhau. Và … Chúng tôi đã về chung 1 nhà. ♥♥</p>
                </div>
            </div>
            <p class="heart text-center"><i class="icon-heart2"></i></p>
            <div class="couple-half">
                <div class="bride">
                    <img src="/HoangHuyenWedding/images/img/hu2.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-bride">
                    <h3 class="font-secondary">Thanh Huyền</h3>
                    <p>“Không ngờ được” đó là câu nói tôi hay nói từ khi chúng tôi bắt đầu yêu và giờ thì… chúng
                        tôi kết hôn rồi. Trải qua nhiều biến cố trong chuyện tình cảm chúng tôi khá dè dặt khi
                        lại 1 lần nữa bước chân vào hôn nhân. Và rồi… “Chốt thôi” ♥♥</p>
                </div>
            </div>
        </div>
    </div>
</div>