<div id="fh5co-couple-story">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>Chúng Tôi Yêu Nhau</span>
                <h2 class="font-secondary">Câu chuyện tình yêu</h2>
                <p>Được ai đó yêu sâu sắc sẽ mang lại cho bạn sức mạnh, trong khi yêu ai đó sâu sắc sẽ cho bạn
                    dũng khí.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline animate-box">
                    <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url(/HoangHuyenWedding/images/img/hu2.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Lần đầu gặp gỡ</h3>
                                <span class="date">20/03/2020</span>
                            </div>
                            <div class="timeline-body">
                                <p>Có ai tin vào tình yêu Online không? Một cô bé khá xinh mà tôi tình cờ gặp
                                    trong lần đi chơi Noel với đám bạn cấp 3. Chúng tôi hay chat với nhau, kể
                                    nhiều chuyện cho nhau nghe. Tôi cảm giác như hai chúng tôi rất hợp nhau và
                                    hình như tôi đã bắt đầu yêu bé.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge" style="background-image:url(/HoangHuyenWedding/images/img/hv2.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Nhận lời yêu</h3>
                                <span class="date">24/04/2021</span>
                            </div>
                            <div class="timeline-body">
                                <p>Không cần đắn đo suy nghĩ gì thêm, tôi quyết định ngỏ lời. May mắn thay lời
                                    tỏ tình của tôi được chấp nhận. Chắc bạn không thể tưởng tượng lúc ấy tôi
                                    vui thế nào đâu!!!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url(/HoangHuyenWedding/images/img/hu2.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Hai gia đình gặp mặt</h3>
                                <span class="date">24/08/2022</span>
                            </div>
                            <div class="timeline-body">
                                <p>Hồi hộp và lo lắng nhưng may mắn là buổi gặp mặt diễn ra hết sức tuyệt vời,
                                    ai nấy đều vui cười thoải mái. Thậm chí, hai nhà còn thống nhất để cuối năm
                                    đẹp ngày sẽ cưới, coi như mùa xuân sẽ đánh dấu một chặng đường hôn nhân của
                                    con trẻ.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge" style="background-image:url(/HoangHuyenWedding/images/img/hv2.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Mãi bên nhau nhé!</h3>
                                <span class="date">06/09/2023</span>
                            </div>
                            <div class="timeline-body">
                                <p>Suy cho cùng, mấy ai yêu mà chẳng mong được tiến tới hôn nhân. Như trái xanh
                                    đủ ngày sẽ khắc chín, con chim đủ cánh sẽ khắc bay, tình yêu chúng mình cũng
                                    vậy, cảm thấy yêu nhau đủ rồi thì mình cưới nhau thôi.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>