<div id="fh5co-services" class="fh5co-section-gray">
    <div class="container">

        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2 class="font-secondary">Bản đồ chỉ đường tới sự kiện</h2>
                <p>Mình rất muốn được chụp chung với bạn những tấm hình kỷ niệm vì vậy hãy đến sớm hơn một chút
                    bạn yêu nhé!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 animate-box">
                <div class=" " id="map-google">
                    <h2 class="mb-3 text-center gender font-secondary">Tư gia nhà trai</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1860.1548538522657!2d106.06050400058356!3d21.179852385875957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31350ea99fe54489%3A0x250a8e9885e307cc!2zNTkzIMSQLiBOZy4gR2lhIFThu7EsIFAuVGnhu4FuIEFuLCBC4bqvYyBOaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1671639063410!5m2!1svi!2s"
                        height="450" id="map-nhagai" class="w-100" style="border:0; width: 100%;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-6 animate-box">
                <div class=" " id="map-google">
                    <h2 class="mb-3 text-center gender font-secondary">Tư gia nhà gái</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1860.1548538522657!2d106.06050400058356!3d21.179852385875957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31350ea99fe54489%3A0x250a8e9885e307cc!2zNTkzIMSQLiBOZy4gR2lhIFThu7EsIFAuVGnhu4FuIEFuLCBC4bqvYyBOaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1671639063410!5m2!1svi!2s"
                        height="450" id="map-nhagai" class="w-100" style="border:0; width: 100%;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>